<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Classromm list</title>
</head>
<body>
    <h2>Danh sách lớp học của bạn</h2>

    {% if classrooms %}
    <ul>
        {% for classroom in classrooms %}
            <li>
            <a href="{% url 'modify_classroom' classroom.id %}"><strong>{{ classroom.name }}</strong> ({{ classroom.code }})<br></a>
            Trạng thái: {{ classroom.get_status_display }}<br>
            Giáo viên: {{ classroom.id_teacher.full_name }}<br>
            Ngày tạo: {{ classroom.create_time|date:"d/m/Y" }}
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Chưa có lớp học nào.</p>
    {% endif %}
</body>
</html>